<h3>Tree routes</h3>
<form #userForm="ngForm" novalidate>
    <div class="form-group">
        <label for="category">Choose Component Route</label>
        <select 
            required
            ngModel
            name="category" 
            #mySelect
            (change)='onOptionsSelected(mySelect.value)'
            id="category" 
            type="text" 
            class="form-control">
            <option value="contact-list">Contact List (contact-list)</option>
            <option value="contact-form">Add a Contact (contact-form)</option>
            <option value="tree">Parent - leaf node display (tree)</option>
          </select>
        <div 
            class="alert alert-success" 
            *ngIf="parent !== 'None'">
            <div>
                Parent: {{parent}} >>>
                Child: {{child}}
            </div>
        </div>
    </div>
</form>
