<h2>{{ title }}</h2>
<div class="row my-3 mx-3">
    <div class="col-md-6">
        <h4>Family Contacts</h4>
        <ul >
            <div *ngIf="family_contacts.length > 0">
                <div *ngFor="let contacts of family_contacts">
                    <li class="my-3">
                        <strong>{{contacts.firstName + " " + contacts.lastName}}</strong>
                        <div>First Name : {{ contacts.firstName }}</div>
                        <div>Last Name : {{ contacts.lastName }}</div>
                        <div>Contact Number : {{ contacts.phone }}</div>
                        <div>Email Address : {{ contacts.email }}</div>
                        <div>Category : {{ contacts.category }}</div>   
                    </li>
                </div> 
            </div>
            <div *ngIf="family_contacts.length === 0">
                <h6>No contacts yet!</h6>
            </div>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Social Contacts</h4>
        <ul >
            <div *ngIf="social_contacts.length > 0">
                <div *ngFor="let contacts of social_contacts">
                    <li class="my-3">
                        <strong>{{contacts.firstName + " " + contacts.lastName}}</strong>
                        <div>First Name : {{ contacts.firstName }}</div>
                        <div>Last Name : {{ contacts.lastName }}</div>
                        <div>Contact Number : {{ contacts.phone }}</div>
                        <div>Email Address : {{ contacts.email }}</div>
                        <div>Category : {{ contacts.category }}</div>   
                    </li>
                </div>
            </div>
            <div *ngIf="social_contacts.length === 0">
                <h6>No contacts yet!</h6>
            </div>
        </ul>
    </div>
</div>
<div class="row my-3 mx-3">
    <div class="col-md-6">
        <h4>Work</h4>
        <ul >
            <div *ngIf="work_contacts.length > 0" >
                <div *ngFor="let contacts of work_contacts">
                    <li class="my-3">
                        <strong>{{contacts.firstName + " " + contacts.lastName}}</strong>
                        <div>First Name : {{ contacts.firstName }}</div>
                        <div>Last Name : {{ contacts.lastName }}</div>
                        <div>Contact Number : {{ contacts.phone }}</div>
                        <div>Email Address : {{ contacts.email }}</div>
                        <div>Category : {{ contacts.category }}</div>   
                    </li>
                </div>
            </div>
            <div *ngIf="work_contacts.length === 0">
                <h6>No contacts yet!</h6>
            </div>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Others</h4>
        <ul >
            <div *ngIf="others_contacts.length > 0">
                <div *ngFor="let contacts of others_contacts">
                    <li class="my-3">
                        <strong>{{contacts.firstName + " " + contacts.lastName}}</strong>
                        <div>First Name : {{ contacts.firstName }}</div>
                        <div>Last Name : {{ contacts.lastName }}</div>
                        <div>Contact Number : {{ contacts.phone }}</div>
                        <div>Email Address : {{ contacts.email }}</div>
                        <div>Category : {{ contacts.category }}</div>   
                    </li>
                </div>
            </div>
            <div *ngIf="others_contacts.length === 0">
                <h6>No contacts yet!</h6>
            </div>
        </ul>

    </div>
</div>




